#header-phone i {
    position: relative;
    top: 3px
}

#header-phone {
    margin-top: 14px;
    margin-bottom: 0
}

#header-phone-button {
    float: right;
    margin: 10px 0 0 0
}

a.white {
    color: #fff
}

nav.navbar {
    height: 68px
}

nav.navbar .navbar-header {
    width: 100%
}

h3.bold-phone {
	font-family: 'Montserrat', sans-serif;
	font-size: 5rem;
	font-weight: bold;
}

.steps i {
	margin: 1rem auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 26px;
	font-size: 1.8rem;
	width: 52px;
	height: 52px;
	background-color: #d9534f;
	color: #FFF;
}

.steps li,
.condition li {
	list-style-type: none;
	font-size: 2rem;
	font-weight: bold;
}

.condition li:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	margin-right: 0.6rem;
	color: green;
}

h1.title {
	font-size: 5rem;
}

h1.title strong {
	font-size: 6rem;
}

.bbb-logo {
	width: 150px;
}

@media screen and (max-width:1023px) {
    nav.navbar {
        height: 54px
    }

	h1.title {
		font-size: 3rem;
	}

	h1.title strong {
		font-size: 4rem;
	}
}

/* Konstruct Digital Added Styles */

@media (max-width: 992px) {
	#contact {
		margin-bottom: 74px;
	}
}

h2.title {
  font-size: 5rem; }

h2.title strong {
  font-size: 6rem; }

@media screen and (max-width: 1023px) {
  h2.title {
    font-size: 3rem; }
  h2.title strong {
	font-size: 4rem; } 
}

.kd-process-horizontal {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;
}

.kd-process-horizontal div {
	display: inline-flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.kd-process-horizontal div:before {
	content: "";
	display: inline-block;
	font-family: "FontAwesome";
	min-height: 50px;
	min-width: 50px;
	margin-right: 15px;
}

.kd-process-horizontal div:nth-child(1):before {
	content: url('data:image/svg+xml;utf8, <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <g> <path d="M502,366h-5v-76.251c0-17.39-12.958-31.66-29.501-32.488l-18.764-0.938l-27.542-64.264 c-2.763-6.446-11.17-26.061-37.005-26.061h-94.115c-5.522,0-10,4.477-10,10v93.505L68.293,57.725 c-0.003-0.003-0.006-0.007-0.009-0.01c-0.484-0.484-0.979-0.953-1.483-1.409c-0.044-0.039-0.089-0.075-0.132-0.114 C59.325,49.606,49.94,46,39.999,46c-9.943,0-19.33,3.608-26.673,10.197c-0.042,0.038-0.086,0.073-0.128,0.11 c-0.504,0.456-0.998,0.925-1.482,1.409C4.161,65.271,0,75.315,0,86c0,9.896,3.576,19.24,10.105,26.568 c0.52,0.584,1.052,1.159,1.609,1.716L30,132.569v68.084c-17.233,4.452-30,20.13-30,38.734c0,22.056,17.944,40,40,40 c22.056,0,40-17.944,40-40c0-5.523-4.477-10-10-10s-10,4.477-10,10c0,11.028-8.972,20-20,20s-20-8.972-20-20 c0-11.028,8.972-20,20-20c5.523,0,10-4.477,10-10v-56.818L263.431,366h-98.756c-10.994-12.266-26.945-20.001-44.674-20.001 S86.32,353.734,75.326,366H10c-5.523,0-10,4.477-10,10v14.999C0,404.784,11.214,416,24.998,416h35.851 c4.777,28.339,29.475,50,59.151,50s54.375-21.661,59.152-50h163.696c4.776,28.339,29.475,50,59.151,50 c29.676,0,54.374-21.661,59.15-50H487c13.785,0,25-11.216,25-25.001V376C512,370.477,507.522,366,502,366z M60.849,396H24.998 c-2.709,0-4.998-2.29-4.998-5.001V386h43.44C62.299,389.217,61.429,392.559,60.849,396z M160,406.026 C159.986,428.07,142.048,446,120,446c-22.056,0-40-17.944-40-40c0-22.057,17.944-40.001,40-40.001 c22.048,0,39.986,17.93,40,39.975c0,0.009-0.001,0.017-0.001,0.026C159.999,406.009,160,406.017,160,406.026z M39.999,106 c-5.342,0-10.364-2.08-14.142-5.858c-0.378-0.378-0.726-0.777-1.069-1.179c-3.068-3.597-4.753-8.137-4.753-12.962 c0-5.366,2.068-10.388,5.822-14.143c3.755-3.754,8.777-5.821,14.142-5.821c5.365,0,10.388,2.067,14.142,5.821l0.004,0.005 c7.793,7.798,7.792,20.482-0.004,28.279C50.364,103.919,45.341,106,39.999,106z M50.358,124.642 c6.718-1.789,12.879-5.312,17.926-10.358c5.149-5.15,8.587-11.368,10.336-17.947L280.073,297.79v56.567L50.358,124.642z M342.848,396H179.152c-0.58-3.441-1.45-6.783-2.591-10h168.878C344.297,389.217,343.428,392.559,342.848,396z M401.999,446 c-22.048,0-39.986-17.931-40-39.975c0-0.009,0.001-0.017,0.001-0.026c0-0.009-0.001-0.017-0.001-0.026 c0.014-22.045,17.952-39.975,40-39.975c22.056,0,40,17.944,40,40.001S424.055,446,401.999,446z M401.999,345.999 c-17.729,0-33.681,7.735-44.675,20.001h-57.251V185.999h84.115c9.22,0,14.267,3.778,18.622,13.94l30.001,70 c1.505,3.51,4.878,5.857,8.692,6.048l24.996,1.25c5.888,0.294,10.5,5.79,10.5,12.512v2.138h-31.035c-5.522,0-10,4.477-10,10 s4.478,10,10,10H477V326h-6.615c-5.522,0-10,4.477-10,10s4.478,10,10,10H477v20h-30.327 C435.679,353.734,419.728,345.999,401.999,345.999z M492,390.999c0,2.711-2.29,5.001-5,5.001h-25.851 c-0.579-3.441-1.45-6.783-2.591-10H492V390.999z"/> </g> <g> <path d="M415.307,262.06l-24.939-58.19c-0.304-0.706-0.674-1.547-1.119-2.418c-1.708-3.347-5.148-5.453-8.906-5.453h-57.356 c-5.523,0-10,4.477-10,10V266c-0.002,5.522,4.476,9.999,9.998,9.999h83.13c3.361,0,6.498-1.689,8.349-4.495 C416.315,268.698,416.631,265.15,415.307,262.06z M332.985,255.999v-40.001h40.82l17.145,40.001H332.985z"/> </g> <g> <path d="M120,376c-16.542,0-30,13.458-30,30s13.458,30,30,30s30-13.458,30-30C150,389.457,136.542,376,120,376z M120,416 c-5.514,0-10-4.486-10-10c0-5.514,4.486-10,10-10s10,4.486,10,10C130,411.514,125.514,416,120,416z"/> </g> <g> <path d="M402,376c-16.542,0-30,13.458-30,30s13.458,30,30,30s30-13.458,30-30C432,389.457,418.542,376,402,376z M402,416 c-5.514,0-10-4.486-10-10c0-5.514,4.486-10,10-10c5.514,0,10,4.486,10,10C412,411.514,407.514,416,402,416z"/> </g> <g> <path d="M417.234,291.889h-0.236c-5.522,0-10,4.477-10,10s4.478,10,10,10h0.236c5.522,0,10-4.477,10-10 S422.756,291.889,417.234,291.889z"/> </g> </svg>');
}
.kd-process-horizontal div:nth-child(2):before {
	content: url('data:image/svg+xml;utf8, <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <g> <path d="M437.02,74.98C388.668,26.628,324.38,0,256,0S123.332,26.628,74.98,74.98C26.629,123.332,0,187.62,0,256 s26.629,132.668,74.98,181.02C123.332,485.372,187.62,512,256,512s132.668-26.628,181.02-74.98 C485.371,388.668,512,324.38,512,256S485.371,123.332,437.02,74.98z M256,482C131.383,482,30,380.617,30,256S131.383,30,256,30 s226,101.383,226,226S380.617,482,256,482z"/> </g> <g> <path d="M272.067,241h-32.134c-18.307,0-33.2-14.893-33.2-33.199c0-18.307,14.894-33.2,33.2-33.2H304.2c8.284,0,15-6.716,15-15 s-6.716-15-15-15H271v-33.2c0-8.284-6.716-15-15-15s-15,6.716-15,15v33.2h-1.066c-34.849,0-63.2,28.352-63.2,63.2 c0,34.848,28.352,63.199,63.2,63.199h32.134c18.306,0,33.199,14.894,33.199,33.2c0,18.306-14.893,33.2-33.199,33.2h-64.267 c-8.284,0-15,6.716-15,15s6.716,15,15,15H241v33.201c0,8.284,6.716,15,15,15s15-6.716,15-15V367.4h1.067 c34.848,0,63.199-28.352,63.199-63.2S306.915,241,272.067,241z"/> </g> </svg>');
}
.kd-process-horizontal div:nth-child(3):before {
	content: url('data:image/svg+xml;utf8, <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <g> <path d="M96,277.333c-29.397,0-53.333,23.936-53.333,53.333S66.603,384,96,384s53.333-23.936,53.333-53.333 S125.397,277.333,96,277.333z M96,362.667c-17.643,0-32-14.357-32-32c0-17.643,14.357-32,32-32c17.643,0,32,14.357,32,32 C128,348.309,113.643,362.667,96,362.667z"/> </g> <g> <path d="M416,277.333c-29.397,0-53.333,23.936-53.333,53.333S386.603,384,416,384s53.333-23.936,53.333-53.333 S445.397,277.333,416,277.333z M416,362.667c-17.643,0-32-14.357-32-32c0-17.643,14.357-32,32-32c17.643,0,32,14.357,32,32 C448,348.309,433.643,362.667,416,362.667z"/> </g> <g> <path d="M448,213.333h-18.048c-6.592,0-13.056-2.261-18.219-6.4l-84.053-67.243C318.251,132.16,306.411,128,294.357,128H140.16 c-17.877,0-34.453,8.875-44.373,23.744l-18.155,27.264C72.192,187.136,63.104,192,53.333,192C23.936,192,0,215.936,0,245.333V288 c0,29.397,23.936,53.333,53.333,53.333c5.888,0,10.667-4.779,10.667-10.667S59.221,320,53.333,320c-17.643,0-32-14.357-32-32 v-42.667c0-17.643,14.357-32,32-32c16.939,0,32.64-8.405,42.048-22.507l18.155-27.243c5.952-8.917,15.915-14.251,26.624-14.251 h154.197c7.253,0,14.336,2.496,20.011,7.019l84.053,67.221c8.896,7.147,20.117,11.093,31.552,11.093H448 c31.296,0,42.667,31.893,42.667,53.333c0,21.013-16.085,32-32,32c-5.888,0-10.667,4.779-10.667,10.667s4.779,10.667,10.667,10.667 C489.067,341.333,512,318.4,512,288C512,251.797,489.579,213.333,448,213.333z"/> </g> <g> <path d="M373.333,320H138.667c-5.888,0-10.667,4.779-10.667,10.667s4.779,10.667,10.667,10.667h234.667 c5.888,0,10.667-4.779,10.667-10.667S379.221,320,373.333,320z"/> </g> <g> <path d="M352,213.333h-96v-32c0-5.888-4.779-10.667-10.667-10.667s-10.667,4.779-10.667,10.667V224 c0,5.888,4.779,10.667,10.667,10.667H352c5.888,0,10.667-4.779,10.667-10.667S357.888,213.333,352,213.333z"/> </g> <g> <path d="M202.667,213.333h-68.075l13.632-27.221c2.624-5.269,0.491-11.669-4.779-14.315c-5.291-2.624-11.669-0.512-14.315,4.779 l-21.333,42.667c-1.664,3.285-1.472,7.232,0.469,10.368s5.376,5.056,9.067,5.056h85.333c5.888,0,10.667-4.779,10.667-10.667 S208.555,213.333,202.667,213.333z"/> </g> <g> <path d="M288,256h-21.333c-5.888,0-10.667,4.779-10.667,10.667s4.779,10.667,10.667,10.667H288 c5.888,0,10.667-4.779,10.667-10.667S293.888,256,288,256z"/> </g> </svg>');
}

.kd-process-horizontal .lead {
	margin-bottom: 0;
}

@media only screen and (max-width: 640px) {
	.kd-process-horizontal {
		flex-direction: column;
	}
}

/* KD - Accordion Faq */

.kd-faq {
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 14px 5px rgba(0,0,0,.2); }
  .kd-faq__wrapper {
    position: relative; }
  .kd-faq__header {
    border-bottom: 1px solid #d9d9d9;
    padding: 20px 40px 20px 0;
    margin: 0 40px;
    position: relative; }
  .kd-faq__title {
    color: #354a5e;
    font-size: 20px;
    text-transform: none;
    margin: 0;
    text-align: left; }
  .kd-faq__arrow {
    position: absolute;
    right: 0;
    top: 7px;
    display: block;
    height: 50px;
    width: 50px;
    fill: #979797; }
  .kd-faq__content {
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
    overflow: hidden; }
    .kd-faq__content-text {
      color: #909ca7;
      padding: 20px;
      text-align: left; }
  .kd-faq--inactive .kd-faq__content {
    height: 0; }
  @media (max-width: 480px) {
    .kd-faq__header {
      margin: 0 20px;
      padding: 20px 0 30px; }
    .kd-faq__arrow {
      height: 30px;
      width: 30px;
      top: unset;
      bottom: 0; } }
